.loginSignup{
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginSignup-container{
    width: 500px;
    height: 530px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginSignup-container h1 {
    margin: 20px 0px;

}

.loginSignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginSignup-fields input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginSignup-container button{
    width: 522px;
    height: 40px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 18px;
    font-weight: 500 ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}

.loginSignup-login span{
     color: #ff4141;
     font-weight: 600; 
     cursor: pointer;
}
.loginSignup-agree input{
    height: 25px;
    padding: 0px;
    margin-right: 5px;
    width: 20px;
}
.loginSignup-agree{
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 0px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
}

@media(max-width:1280px){
    .loginSignup{
        padding-top: 50px;
    }
    .loginSignup-container{
        width: auto;
        max-width: 500px;
        max-width: 500px;
    }
    .loginSignup-container h1{
        margin: 10px 0px;
    }
    .loginSignup-fields{
        gap: 20px;
        margin-top: 20px;

    }
    .loginSignup-fields input{
        height: 40px;
        width: 93%;
    }
    .loginSignup-container button{
        width: 100%;
    }
    .loginSignup-login{
        font-size: 14px;
    }
    .loginSignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width:800px){

    .loginSignup-container{
        padding: 20px 30px;
    }
    .loginSignup-container h1{
        font-size: 24px;
    }
    .loginSignup-fields{
        margin-top: 20px;
    }
    .loginSignup-fields input{
        height: 40px;
        width: 93%;
    }
    .loginSignup-container button{
        width: 100%;
        font-size: 16px;
    }
    .loginSignup-login{
        font-size: 14px;
    }
    .loginSignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}



